<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.firstrestapi.mapper.UsersMapper">
    <insert id="insert">
        INSERT 
            INTO users (
                user_name, 
                age, 
                remarks
            ) VALUES(
                #{userName}, 
                #{age}, 
                #{remarks}
            )
    </insert>

    <select id="selectByCondition" resultType="com.example.firstrestapi.entity.Users">
        <bind name="userNameLike" value="'%' + userName + '%'"/>
        SELECT 
            user_id, 
            user_name, 
            age, 
            remarks 
        FROM 
            users
        <where>
            <if test="userId != ''">
                user_id = #{userId}
            </if>
            <if test="userName != ''">
                AND user_name LIKE #{userNameLike}
            </if>
        </where>
    </select>

    <update id="update">
        UPDATE 
            users
        SET 
            user_name = #{userName},
            age = #{age},
            remarks = #{remarks}
        WHERE 
            user_id = #{userId}
    </update>

    <delete id="delete">
        DELETE
        FROM
            users
        WHERE
            user_id = #{userId}
    </delete>
</mapper>
